@charset "UTF-8";
/* CSS Document */
body{
	font-family: ‘Helvetica’;
   font-size: 16px;
   font-weight: 300;
}



blockquote{
	font-size:50px;
}

li{
	color:green;
}

div{
	background-color:red;
}


.red{
	color:red;
}